.injecting {
    position:relative;

    &::before {
        content: " ";
        position: absolute;
        top: 1rem;
        left: 45%;
        z-index: 1000;
        @extend .spinner-grow;
    }
}

div.quantity-group {
    display:none;
}

@include media-breakpoint-up(lg) {
    #form-widgets-picture, #form-widgets-passport_image {
        img {
            max-width:50%;
        }
    }
}
